/* .arrow-after::after {
    content: "\2192";
    position: absolute;
    top: 0;
    bottom: 0;
    color: inherit;
    margin-left: 5px;
    font-size: 1.15em;
} */

/* .texture-blur {
    overflow: hidden;
    position: relative;
}

.texture-blur::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;

    display: block;
    background-image: url(/assets/images/snow.png);
    background-color: #F8EDEB;
    background-position: 0 0, 0 0;
    background-size: auto, auto;
    background-repeat: repeat;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
} */